
@{
    string? UserName = ViewContext.HttpContext.Session.GetString("UserName");
    DateTime currentDate = DateTime.Now;
    string formattedDate = currentDate.ToString("dd-MM-yyyy");

}

<div class="col-xl-12 col-md-12">
    <div class="card table-card">
        <div class="card-header">
            <h5 class="webtitle">Business Partners Bank Details </h5>
            <div class="card-header-right">
                <ul class="list-unstyled card-option">
                    <li><i class="fa fa-wrench open-card-option"></i></li>
                    <li><i class="fa fa-window-maximize full-card"></i></li>
                    <li><i class="fa fa-minus minimize-card"></i></li>
                    <li><i class="fa fa-refresh reload-card"></i></li>
                    <!-- <li hidden><i class="fa fa-trash close-card"></i></li> -->
                </ul>
            </div>
        </div>
        <div class="card-block shadow">
            <!-- Row start -->
            <div class="row p-2">
                <div class="col-lg-12 col-xl-12">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" id="Create_Bank_Tab" href="#Create_Bank" role="tab">Create Business Partners Bank Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#All_Bank" role="tab">All Bank Details</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content tabs card-block">
                        <div class="tab-pane active p-0 m-0 mt-2" id="Create_Bank" role="tabpanel">
                            <form id="Address_mst_Form" class="w-100 mt-4 p-4 border">
                                <div class="row justify-content-end mt-1 mb-3">
                                    <div class="col-auto">
                                        <label class="switch">
                                            <input type="checkbox" value="Y" checked name="IsActive" id="IsActive" class="toggleSwitch form-control form-control-sm">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                </div>
                                <hr>
                                <div class="row mt-2">
                                    <input hidden name="BPBankDetId" id="BPBankDetId" value="" type="text" placeholder="Id" class="form-control form-control-sm Bank_Form_Elem" />
                                    <!-- BP ID and Title -->
                                    <div class="col-md-3 mt-1 mb-1">
                                        <label for="BPId">Business Partner</label>
                                        <select name="BPId" id="BPId" type="text" placeholder="BP ID" class="form-control form-control-sm  Bank_Form_Elem"> </select>
                                    </div>
                                    <div class="col-md-3 mt-1 mb-1">
                                        <label for="BankId">Bank Name</label>
                                        <select name="BankId" id="BankId" type="text" placeholder="Bank ID" class="form-control form-control-sm  Bank_Form_Elem"> </select>
                                    </div>
                                    <!-- Permanent Address, Address Type, GSTIN No -->

                                    <div class="col-md-3 mt-1 mb-1">
                                        <label for="ACType">Account Type</label>
                                        <select  id="ACType" name="ACType" tabindex="14" class="form-control form-control-sm  Bank_Form_Elem">
                                            <option disabled selected>Select Account Type</option>
                                            <option value="S">Saving Account</option>
                                            <option value="C">Current Account</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3 mt-1 mb-1">
                                        <label for="ACNo">Account No</label>
                                        <input tabindex="10" id="ACNo" name="ACNo" type="text" placeholder="Account No" class="form-control  form-control-sm  Bank_Form_Elem" oninput="MaxLengthInp(this,15)" />
                                    </div>
                                 
                                    <!-- Update Date, Updated By, Create Date, Created By -->
                                    <div class="col-md-3 mt-1 mb-1 d-none ">
                                        <label for="UpdateDate">Updated On</label>
                                        <input readonly name="UpdateDate" id="UpdateDate" value="@formattedDate" type="text" placeholder="dd/mm/yy" class="form-control form-control-sm  Address_Form_Elem" />
                                    </div>
                                    <div class="col-md-3 mt-1 mb-1 d-none ">
                                        <label for="UpdatedBy">Updated By</label>
                                        <input readonly name="UpdatedBy" id="UpdatedBy" value="@UserName" type="text" placeholder="Updated By" class="form-control form-control-sm  Address_Form_Elem" />
                                    </div>
                                    <div class="col-md-3 mt-1 mb-1 d-none">
                                        <label for="CreateDate ">Created On</label>
                                        <input readonly name="CreateDate" id="CreateDate" value="@formattedDate" type="text" placeholder="dd/mm/yy" class="form-control form-control-sm  Address_Form_Elem" />
                                    </div>
                                    <div class="col-md-3 mt-1 mb-1 d-none">
                                        <label for="CreatedBy">Created By</label>
                                        <input readonly name="CreatedBy" id="CreatedBy" value="@UserName" type="text" placeholder="Created By" class="form-control form-control-sm  Address_Form_Elem" />
                                    </div>

                                    <!-- Buttons -->
                                    <div class="col-md-12 mt-3">
                                        <button type="button" id="Form_Delete_btn" style="display:none; width:80px;" class="btn ml-1 mr-1 btn-sm btn-danger">Delete</button>
                                        <button type="button" id="Form_Update_btn" style="display:none; width:80px;" class="btn ml-1 mr-1 btn-sm text-white btn-info">Update</button>
                                        <button type="button" id="Form_Save_btn" style="width:80px;" class="btn ml-1 mr-1 btn-sm btn-success">Save</button>
                                        <button type="reset" id="Form_reset_btn" style="width:80px;" class="btn ml-1 mr-1 btn-sm btn-dark">Reset</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane p-3" id="All_Bank" role="tabpanel">
                            <div class="row p-3 mt-2 border">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-hover w-100" id="Table">
                                        <!-- Table Content Goes Here -->
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row end -->
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
         {
            $.ajax({
                url: '@Url.Action("BANK", "GetDropdownData")',
                type: 'GET',
                dataType: 'json',
                success: function (response) {
                    if (response.length > 0) {
                        let list = "<option value=''>Select Bank</option>";
                        for (var i = 0; i < response.length; i++) {
                            list += "<option value='" + response[i].BankId + "'>" + response[i].BankName + "</option>";
                        }
                        $("#BankId").html(list);
                    }
                },
                error: function (error) {
                    notify(error.responseText, "", "top", "right", "fa fa-warning mr-2", "danger", "animated fadeInRight", "animated fadeOutRight")
                    console.error('Error:', error.responseText);
                }
            });
        }
        //Get Dropdown Data
        {
         
            $.ajax({
                url: '@Url.Action("BUSINESSPARTNER", "GetDropdownData")',
                type: 'GET',
                dataType: 'json',
                success: function (response) {
                    if (response.length > 0) {
                        let list = "<option value=''>Select Business Partner</option>";
                        for (var i = 0; i < response.length; i++) {
                            list += "<option value='" + response[i].BPId + "'>" + response[i].BPCode + "-" + response[i].BPName + "</option>";
                        }
                        $("#BPId").html(list);
                    }
                },
                error: function (error) {
                    notify(error.responseText, "", "top", "right", "fa fa-warning mr-2", "danger", "animated fadeInRight", "animated fadeOutRight")
                    console.error('Error:', error.responseText);
                }
            });
        }
     
        //Region Add User
        {
            $("#Form_Save_btn").click(function () {
                let isValid = true;
                let formData = {};
                $("#Address_mst_Form input, select, textarea").each(function () {
                    var inputName = $(this).attr('name').trim();
                    var inputValue = "";
                    if ($(this).is('textarea')) {
                        inputValue = $(this).val();
                    } else {
                        inputValue = $(this).val();
                    }
                    var mandatoryFields = ["ACType", "BPId", "ACNo", "BankId"]; // Include GSTINType in mandatory fields
                    if (mandatoryFields.includes(inputName) && inputValue === "") {
                        $("#" + inputName).addClass("border-danger");
                        isValid = false;
                        notify("Please Fill All Mandatory Fields", "", "top", "right", "fa fa-warning mr-2", "danger", "animated fadeInRight", "animated fadeOutRight")
                        return false;
                    } else {
                        $("#" + inputName).removeClass("border-danger");
                    }
                    if (inputName !== undefined && inputName !== "" && inputName !== null) {
                        formData[inputName] = inputValue;
                    }
                });
                // Call Api
                if (isValid && Object.keys(formData).length > 0) {
                    $.ajax({
                        url: '@Url.Action("POSTDATA", "BPBankDetails")',
                        type: 'POST',
                        dataType: 'json',
                        data: formData,
                        success: function (response) {
                            if (response !== "") {
                                notify("Business Partners Bank Details Added Successfully..!", "", "top", "right", "fa fa-check mr-2", "success", "animated fadeInRight", "animated fadeOutRight")
                                $("#Address_mst_Form")[0].reset();
                                LoadTableData();
                            }
                        },
                        error: function (error) {
                            notify(error.responseText, "", "top", "right", "fa fa-warning mr-2", "danger", "animated fadeInRight", "animated fadeOutRight")
                            console.error('Error:', error.responseText);
                        }
                    });
                }
            });


        }
        //Region Update User
        {
            $("#Form_Update_btn").click(function () {
                let isValid = true;
                let formData = {};
                $("#Address_mst_Form input,select,textarea").each(function () {
                    var inputName = $(this).attr('name').trim();
                    var inputValue = "";
                    if ($(this).find('textarea').lenght) {
                        inputValue = $(this).text();
                    } else {
                        inputValue = $(this).val();
                    }
                    var mandatoryfields = ["BPBankDetId", "ACType", "BPId", "ACNo", "BankId"];
                    if (mandatoryfields.includes(inputName) && inputValue === "") {
                        $("#" + inputName).addClass("border-danger");
                        isValid = false;
                        notify("Please Fill All Mandatory Feilds", "", "top", "right", "fa fa-warning mr-2", "danger", "animated fadeInRight", "animated fadeOutRight")
                        return false;
                    } else if (inputName === "DOB") {
                        formData[inputName] = dateOnly;
                    } else {
                        $("#" + inputName).removeClass("border-danger");
                    }
                    if (inputName !== undefined && inputName !== "" && inputName !== null) {

                        formData[inputName] = inputValue;

                    }
                });
                //Call Api
                if (isValid && formData !== "") {
                    $.ajax({
                        url: '@Url.Action("UPDATEDATA", "BPBankDetails")',
                        type: 'POST',
                        dataType: 'json',
                        data: formData,
                        success: function (response) {
                            if (response.success) {
                                $("#Address_mst_Form")[0].reset();
                                LoadTableData();
                                HideBtn()
                                notify(response.message, "", "top", "right", "fa fa-check mr-2", "success", "animated fadeInRight", "animated fadeOutRight")
                            } else {
                                notify("Error To Updating Data", "", "top", "right", "fa fa-warning mr-2", "danger", "animated fadeInRight", "animated fadeOutRight")
                            }
                        },
                        error: function (error) {
                            notify(error.responseText, "", "top", "right", "fa fa-warning mr-2", "danger", "animated fadeInRight", "animated fadeOutRight")
                            console.error('Error:', error.responseText);
                        }
                    });
                }
            })
        }
        //Region Delete
        {
            $("#Form_Delete_btn").click(function () {
                Delete($("#BPBankDetId").val());
            })
            $(document).on("click", ".table_delete", function () {
                var $row = $(this).closest("tr");
                var id = $row.find('td.tbl_Main_ID').text();
                Delete(id);
            })
        }
        //Region Select Row Data
        {
            $(document).on("click", ".table_edit", function () {
                var $row = $(this).closest("tr");
                var rowObject = {};
                $row.find('td').each(function (index) {
                    var $td = $(this);
                    var key = $td.closest('table').find('th').eq(index).text().trim().replace(/[.,()%\- ]/g, '');
                    if ($td.find('input').length) {
                        rowObject[key] = $td.find('input').val();
                    }
                    else if ($td.find('textarea').length) {
                        rowObject[key] = $td.find('textarea').val();
                    }
                    else if ($td.find('img').length) {
                        rowObject[key] = $td.find('img').attr("src");
                    } else if ($td.find('select').length) {
                        //  rowObject[key] = $td.find('select option:selected').text().trim();
                        //  rowObject['TaxCodeval'] = $td.closest('tr').find('.Taxc option:selected').val();
                        //  rowObject['UomEntryVal'] = $td.closest('tr').find('.Uomc1 option:selected').val();
                    } else {
                        rowObject[key] = $td.text().trim();
                    }
                });
                $("#BPBankDetId").val(rowObject.BPBankDetId)
                $("#IsActive").val(rowObject.Active)
                $("#BPId").val(rowObject.BPId)
                $("#ACType").val(rowObject.AccountType)
                $("#ACNo").val(rowObject.AccountNo)
                $("#BankId").val(rowObject.BankId)

             

                if (rowObject.Active == "Y") {
                    $("#IsActive").prop("checked", true);
                }
                if (rowObject.Active == "N") {
                    $("#IsActive").prop("checked", false);
                }

                ShowBtn()
                $("#Create_Bank_Tab").click();
            })
        }
        //Function to handle form reset
        {
            $("#Form_reset_btn").click(function () {
                $(".Bank_Form_Elem").removeClass("border-danger");
            });
        }
        //Function Btn Opration
        {
            $("#Form_reset_btn").click(function () { HideBtn() })
            function ShowBtn() {
                $("#Form_Delete_btn").show();
                $("#Form_Update_btn").show();
                $("#Form_Save_btn").hide();
            }
            function HideBtn() {
                $("#Form_Save_btn").show();
                $("#Form_Delete_btn").hide();
                $("#Form_Update_btn").hide();
            }
        }

        //region All functions
        {
            //format date
            function formatAndSetDate(inputDate) {
                const parts = inputDate.split(' ');
                const datePart = parts[0];
                const timePart = parts[1];
                const [day, month, year] = datePart.split('-');
                const formattedDate = `${year}-${month}-${day}`;
                const formattedDateTime = `${formattedDate} ${timePart}`;
                return formattedDate;
            }
            // Function to retrieve menu data
            LoadTableData();
            function LoadTableData() {
                $.ajax({
                    url: '@Url.Action("GETDATA", "BPBankDetails")', // Update with your API endpoint for retrieving menu data
                    type: 'GET',
                    dataType: 'json',
                    success: function (response) {
                        ApplyDatatable(response, "Table")
                    },
                    error: function (error) {
                        notify(error.responseText, "", "top", "right", "fa fa-warning mr-2", "danger", "animated fadeInRight", "animated fadeOutRight");
                        console.error('Error:', error.responseText);
                    }
                });
            }
            //Apply Datatable
            function ApplyDatatable(jsonData, Table_Id) {
                if ($.fn.DataTable.isDataTable('#' + Table_Id)) {
                    $('#' + Table_Id).DataTable().destroy();
                }
                var table = $('#' + Table_Id).DataTable({
                    data: jsonData,
                    columns: [
                        {
                            data: null,
                            title: "Sr No",
                            className: 'tbl_Sr_no no-wrap text-center',
                            render: function (data, type, row, meta) {
                                // 'meta.row' gives the index of the row
                                return meta.row + 1;
                            }
                        },
                        {
                            data: null,
                            title: 'Action',
                            className: 'text-center',
                            render: function (data, type, row) {
                                // Customize the content of the image column
                                return '<center><i class="fa fa-edit table_edit text-primary mr-1"></i> <i class="fa fa-trash text-danger mr-2  table_delete"></i></center>';
                            }
                        },
                        {
                            data: 'IsActive',
                            title: 'Active',
                            className: 'text-center',
                            render: function (data, type, row) {
                                // Customize the content of the image column
                                if (data == "Y") {
                                    return `<center><label style="margin:0px!important; padding:0px!important;" class="tblswitch p-0 m-0">
                                                                                <input type="checkbox" disabled value="`+ data + `" checked name="IsActive" class="tbltoggleSwitch form-control form-control-sm ">
                                                                        <span class="tblslider"></span>
                                                                        </label></center>`;
                                } else {
                                    return `<center><label class="tblswitch">
                                                                                    <input type="checkbox" disabled value="`+ data + `"  name="IsActive" class="tbltoggleSwitch form-control form-control-sm ">
                                                                            <span class="tblslider"></span>
                                                                        </label></center>`;
                                }

                            }
                        },
                        { data: 'BPBankDetId', title: 'BP Bank Det Id', className: 'tbl_Main_ID d-none text-center' },
                        { data: 'BPId', title: 'BP Id', className: 'tbl_BPId text-center d-none' },
                        { data: 'BPCode', title: 'Code', className: 'tbl_BPCode' },
                        { data: 'BPName', title: ' Business Partner Name', className: 'tbl_BPName' },
                        { data: 'BankName', title: 'Bank Name', className: 'tbl_BankName ' },
                        {
                            data: 'ACType',
                            title: 'Account Type',
                            render: function (data, type, row) {
                                // Customize the content of the image column
                                if (data == "C") {
                                    return `<center>Current Account</center>`;
                                } else {
                                    return `<center>Saving Account</center>`;
                                }

                            }
                        },
                        { data: 'ACType', title: 'Account Type', className: 'tbl_ACType text-center d-none' },
                        { data: 'ACNo', title: 'Account No', className: 'tbl_ACNo text-right' },
                        { data: 'BankId', title: 'Bank Id', className: 'tbl_BankId text-center d-none' },
                    
                    ],
                    "columnDefs": [
                        { "targets": '_all', "className": 'dt-no-wrap' }
                    ],
                    ordering: false,
                    paging: true,
                    retrieve: true,
                    searching: true,
                    responsive: true,
                    colReorder: false,
                });
            }
            //Delete
            function Delete(ID) {
                Swal.fire({
                    title: 'Are you sure?',
                    text: 'This Business Partner Bank Details Is Permanetly Delete Form system..!',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Delete',
                    confirmButtonColor: 'red',
                    cancelButtonText: 'Cancel'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: '@Url.Action("DELETE", "BPBankDetails")',
                            type: 'POST',
                            dataType: 'json',
                            data: { Id: ID },
                            success: function (response) {
                                if (response.success) {
                                    $("#Address_mst_Form")[0].reset();
                                    LoadTableData();
                                    HideBtn()
                                    notify(response.message, "", "top", "right", "fa fa-check mr-2", "success", "animated fadeInRight", "animated fadeOutRight")
                                    Swal.fire('Deleted!', 'Your data has been deleted.', 'success');
                                } else {
                                    notify("Error To Updating Data", "", "top", "right", "fa fa-warning mr-2", "danger", "animated fadeInRight", "animated fadeOutRight")
                                }
                            },
                            error: function (error) {
                                notify(error.responseText, "", "top", "right", "fa fa-warning mr-2", "danger", "animated fadeInRight", "animated fadeOutRight")
                                console.error('Error:', error.responseText);
                            }
                        });
                    } else if (result.dismiss === Swal.DismissReason.cancel) {
                        Swal.fire('Cancelled', 'Your action has been cancelled.', 'error');
                    }
                });

            }
        }
    });
</script>



